name: Run testslab6 Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install base dependencies
      run: |
        pip install pytest
    
    - name: Run testslab6 tests
      run: |
        cd testslab9/testslab6
        pytest -v
