name: Run Existing Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        pip install pytest
    
    - name: Run base test
      run: |
        cd testslab9/testslab3
        pytest tests/test_login.py::test_browser_initialization_and_close -v
